
* {
  box-sizing: border-box;
}

.app-container {
  margin: 50px auto;
  width: 300px;
  height: 300px;
  border: 1px solid $BORDER_COLOR;
  text-align: center;

  button {
    margin: 10px;
  }

  .number {
    font-size: 8rem;
  }
}